.key {
  color: black;
}
.key:hover {
  color: navy;
}

.null,
.undefined,
.nan {
  color: blue;
}
.value {
  /* text-decoration: line-through; */
  padding: 10px;
}

.value:hover {
  color: magenta;
}
.number {
  color: #c2789f;
  /* padding: 10px; */
}
.number:hover,
.string:hover {
}

.string {
  color: #6b9d16;
  /* padding: 10px; */
}

div {
  text-align: left;
}

span {
  text-align: left;
}
/* 
.objectContainer {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.pairsContainer {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
} */
